body{background:#D2B48C; font-family: "Times New Roman";}
h1{text-align:left; font-weight:bold; font-style:italic; color:#696969;}
a{text-align:left; font-weight:bold; font-size:150%; color:#FFFFFF;}
table{vertical-align:middle; text-align:center; border-collapse:collapse; background-color:#F08080; width: 100%; height: 50px;
      color:white;}
th{text-align:center; vertical-align:middle; background-color:#FFFF99; color:#696969;padding:15px;}
td{border: 1px solid white; padding:10px;}
tr:nth-child(even){background-color:#F08D80;}
tr:hover{background-color:#CCCCCC;}
input[readonly]{background-color:gray;}
input{text-align:center;}